<html>

{{template "head"}}

<body>
    {{template "nav-bar"}}

    <div class="content">
        <div id="chat-container">
            <!-- Messages will be dynamically added here -->
        </div>

        <form class="message-form" id="message-form">
            <input type="text" class="message-input" id="message-input" placeholder="Type your message..." required>
            <button type="submit" class="send-button">Send</button>
        </form>
    </div>
    <script src="/static/chat.js">

    </script>

</body>

</html>