<html>

{{template "head"}}

<body>
    {{template "nav-bar"}}

    <div class="content">
        <h1>Frensmatria</h1>
        <div id="gematria" class="section">
            {{template "search-gematria" .SearchInput}}
            <ul id="gematria-list"></ul>

            {{if .Search}}
            <!--
en caso de que no sea un numero
            -->
                {{if .NotInt}}
            <!--
                    esto solo va a mostrar los resultados
                -->
                    {{template "gematria-results" .GematriaList}}
                {{end}}
            <!--
                esto solo va a mostrar los resultados
            -->
                {{template "results"}}
            {{end}}
            <!--
                this little button is just for getting searching results in case i am trying to find something new
        
            -->
            {{if .NotInt}}
                {{template "upload"}}
            {{end}}
        </div>
    </div>

</body>

</html>