{{define "head"}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frensmatria</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        // Función para redirigir al hacer clic en el enlace
        function redirectWithQuery(event) {
            event.preventDefault();

            const currentQueryString = window.location.search;

            const newQueryString = event.target.getAttribute('href');

            const currentParams = new URLSearchParams(currentQueryString);

            const newParams = new URLSearchParams(newQueryString);

            newParams.forEach((value, key) => {

                currentParams.set(key, value); // Esto reemplaza o añade el parámetro
            });

            // Redirigir a la misma página con la nueva query string
            window.location.href = window.location.pathname + '?' + currentParams.toString();
        }

    </script>
</head>
{{end}}