{{define "show-if-search"}}
    {{if .Search}}
         
                {{if .NotInt}}
          
                    <h2>
                        results for: {{.SearchInput}}
                    </h2>
                    {{template "gematria-results" .GematriaList}}
                {{end}}
                <h2>Results Table</h2>

                {{template "results" .}}
            {{end}}
           
            {{if .NotInt}}
                {{template "upload" .}}
            {{end}}
{{end}}